@import "./themes/admin-theme";

.admin {
  .page {
    .page__title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        color: $titleColor;
        margin-right: 15px;
        font: {
          size: 28px;
          weight: 300;
        };
      }

      .page__total {
        color: $grayColor;
        font: {
          size: 15px;
          weight: 600;
        };
      }
    }

    .page__desc {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      p {
        font: {
          size: 16px;
        };
        line-height: 26px;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
